.signin-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
    text-align: center;
    min-height: 50vh;
    min-width: 50vw;
    /* background-color: #007bff; */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: -10rem;
  }
  
  .signin-content input {
    display: block;
    margin: 10px;
    padding: 10px;
    width: 50rem;
  }
  
  button {
    margin: 10px;
    padding: 10px 20px;
    background-color: white;
    color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .Oauth-container{
    position:relative
  }

  .Oauth-row{
    /* position: relative; */
    content: "";
    display:inline-block;
    clear: both;
    margin: 10px;

  }

  .apple-btn, .fb-btn, .google-btn{
    color: #f2f2f2;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 7px;
    /* display: block; */
  }

  .apple-btn:hover, .fb-btn:hover, .google-btn:hover{
    color: #f2f2f2;
  }

  .fb-btn{
    background-color:#3B5998;
  }

  .fb-btn:hover{
    background-color:#2f4679;
  }

  .google-btn{
    background-color: #dd4b39; 
  }

  .google-btn:hover{
    background-color: #be4332; 
  }

  .apple-btn{
    background-color: black; 
  }

  .apple-btn:hover{
    background-color: rgb(48, 43, 43); 
  }

  .input{
    background-color: #FFFFFF;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  
  .input:focus{
    border-color: #267E4A;
  }

  .input, select, textarea :focus{
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    border-color: #267E4A;
  }
  

  .input, select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }
  